<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.mapper.MemberMapper">

    <select id="selectById" resultType="com.gym.pojo.Member">
        SELECT member_id, member_name, member_gender, member_age,
               member_height, member_weight, member_phone,
               card_time, card_class, card_next_class
        FROM member
        WHERE member_id = #{memberId}
    </select>

    <select id="selectByPhone" resultType="com.gym.pojo.Member">
        SELECT member_id, member_name, member_gender, member_age,
               member_height, member_weight, member_phone,
               card_time, card_class
        FROM member
        WHERE member_phone = #{memberPhone}
    </select>

    <select id="selectAll" resultType="com.gym.pojo.Member">
        SELECT member_id, member_name, member_gender, member_age,
               member_height, member_weight, member_phone,
               card_time, card_class
        FROM member
    </select>

    <select id="selectByKeyword" resultType="com.gym.pojo.Member">
        SELECT member_id, member_name, member_gender, member_age,
               member_height, member_weight, member_phone,
               card_time, card_class
        FROM member
        WHERE member_name LIKE CONCAT('%', #{keyword}, '%')
           OR member_phone LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="selectByRegex" resultType="com.gym.pojo.Member">
        SELECT member_id, member_name, member_gender, member_age,
               member_height, member_weight, member_phone,
               card_time, card_class
        FROM member
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="field == 'memberId' and operator != null">
                <if test="operator == 'gt'">
                    AND member_id &gt; #{numValue}
                </if>
                <if test="operator == 'lt'">
                    AND member_id &lt; #{numValue}
                </if>
                <if test="operator == 'ge'">
                    AND member_id &gt;= #{numValue}
                </if>
                <if test="operator == 'le'">
                    AND member_id &lt;= #{numValue}
                </if>
            </if>
            <if test="field == 'memberId' and operator == null">
                AND member_id = #{numValue}
            </if>
            <if test="field == 'memberName'">
                AND member_name LIKE #{likePattern}
            </if>
            <if test="field == 'memberGender'">
                AND member_gender LIKE #{likePattern}
            </if>
            <if test="field == 'memberAge' and operator != null">
                <if test="operator == 'gt'">
                    AND member_age &gt; #{numValue}
                </if>
                <if test="operator == 'lt'">
                    AND member_age &lt; #{numValue}
                </if>
                <if test="operator == 'ge'">
                    AND member_age &gt;= #{numValue}
                </if>
                <if test="operator == 'le'">
                    AND member_age &lt;= #{numValue}
                </if>
            </if>
            <if test="field == 'memberAge' and operator == null">
                AND member_age = #{numValue}
            </if>
            <if test="field == 'memberPhone'">
                AND member_phone LIKE #{likePattern}
            </if>
            <if test="field == 'memberHeight' and operator != null">
                <if test="operator == 'gt'">
                    AND member_height &gt; #{numValue}
                </if>
                <if test="operator == 'lt'">
                    AND member_height &lt; #{numValue}
                </if>
                <if test="operator == 'ge'">
                    AND member_height &gt;= #{numValue}
                </if>
                <if test="operator == 'le'">
                    AND member_height &lt;= #{numValue}
                </if>
            </if>
            <if test="field == 'memberHeight' and operator == null">
                AND member_height = #{numValue}
            </if>
            <if test="field == 'memberWeight' and operator != null">
                <if test="operator == 'gt'">
                    AND member_weight &gt; #{numValue}
                </if>
                <if test="operator == 'lt'">
                    AND member_weight &lt; #{numValue}
                </if>
                <if test="operator == 'ge'">
                    AND member_weight &gt;= #{numValue}
                </if>
                <if test="operator == 'le'">
                    AND member_weight &lt;= #{numValue}
                </if>
            </if>
            <if test="field == 'memberWeight' and operator == null">
                AND member_weight = #{numValue}
            </if>
            <if test="field == 'cardClass' and operator != null">
                <if test="operator == 'gt'">
                    AND card_class &gt; #{numValue}
                </if>
                <if test="operator == 'lt'">
                    AND card_class &lt; #{numValue}
                </if>
                <if test="operator == 'ge'">
                    AND card_class &gt;= #{numValue}
                </if>
                <if test="operator == 'le'">
                    AND card_class &lt;= #{numValue}
                </if>
            </if>
            <if test="field == 'cardClass' and operator == null">
                AND card_class = #{numValue}
            </if>
            <if test="field == 'cardTime'">
                <choose>
                    <when test="startDate != null and endDate != null">
                        AND card_time &gt;= #{startDate} AND card_time &lt; #{endDate}
                    </when>
                    <when test="startDate != null">
                        AND card_time &gt;= #{startDate}
                    </when>
                    <when test="endDate != null">
                        AND card_time &lt;= #{endDate}
                    </when>
                    <when test="likePattern != null">
                        AND card_time LIKE #{likePattern}
                    </when>
                    <otherwise>
                        AND card_time LIKE CONCAT('%', #{likePattern}, '%')
                    </otherwise>
                </choose>
            </if>
        </trim>
    </select>

    <!-- 分页，只查当前页需要的数据 -->
    <select id="selectPage" resultType="com.gym.dto.MemberDTO">
        SELECT member_id, member_name, member_gender, member_age,
        member_height, member_weight, member_phone,
        card_time, card_class
        FROM member
        ORDER BY member_id
        LIMIT #{offset}, #{pageSize}
    </select>

    <insert id="insert">
        INSERT INTO member (member_name, member_gender, member_age, member_height, member_weight, member_phone, card_time, card_class, card_next_class)
        VALUES (#{memberName}, #{memberGender}, #{memberAge}, #{memberHeight}, #{memberWeight}, #{memberPhone}, #{cardTime}, #{cardClass}, #{cardNextClass})
    </insert>

    <update id="update">
        UPDATE member
        SET member_name = #{memberName},
            member_gender = #{memberGender},
            member_age = #{memberAge},
            member_height = #{memberHeight},
            member_weight = #{memberWeight},
            member_phone = #{memberPhone},
            card_time = #{cardTime},
            card_class = #{cardClass},
            card_next_class = #{cardNextClass}
        WHERE member_id = #{memberId}
    </update>

    <delete id="deleteById">
        DELETE FROM member
        WHERE member_id = #{memberId}
    </delete>

    <select id="selectTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM member
    </select>

</mapper>